<h1 class="admin-title">Projetos</h1>
<div class="main-content">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 100%">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to 'PiKumbucha Website - React', "https://github.com/ANNEBORTOLI/puc-mvp-pikombucha", target: "_blank" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'TimezoneApp - Full-Stack Ruby on Rails', "https://github.com/ANNEBORTOLI/timezone-app", target: "_blank" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'Omni Channel - Node.js Rest API', "https://github.com/ANNEBORTOLI/luizaCode-projetoFinal", target: "_blank" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'Moove Bike - Full-Stack Express.js', "https://github.com/ANNEBORTOLI/MOOVEBIKE", target: "_blank" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to 'To-Do List Backend API Python', "https://github.com/ANNEBORTOLI/puc-sprint1-backend", target: "_blank" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
