<footer class="section footer-section">
  <div class="container">
    <div class="box-container">
      <div class="box">
        <div class="box-title">Páginas</div>
        <div class="list-container">
          <ul>
            <li><%= link_to 'Início', root_path %></li>
            <li><%= link_to 'Cursos', courses_path %></li>
            <li><%= link_to 'Projetos', projects_path %></li>
            <li><%= link_to 'Contato', contacts_path %></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Categorias</div>
        <div class="list-container">
          <ul>
            <% @footer_categories_1.each do |category| %>
              <li><%= link_to category.name, category_articles_path(category) %></li>
            <% end %>
          </ul>
          <ul>
            <% @footer_categories_2.each do |category| %>
              <li><%= link_to category.name, category_articles_path(category) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-title">Posts Populares</div>
        <div class="list-container">
          <ul>
            <% @footer_articles.each do |article| %>
              <li><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="social-container">
      <div class="social">
          <%= link_to "https://github.com/ANNEBORTOLI", target: "_blank" do %>
            <%= image_tag "icons/gray/github.svg", alt: "Github" %>
          <% end %>

          <%= link_to "https://www.linkedin.com/in/anne-bortoli/", target: "_blank" do %>
            <%= image_tag "icons/gray/linkedin.svg", alt: "Linkedin" %>
          <% end %>

          <%= link_to "mailto:annebortoli@gmail.com", target: "_blank" do %>
            <%= image_tag "icons/gray/email.svg", alt: "Email" %>
          <% end %>
      </div>
    </div>
    <div class="logo-container">
      <%= image_tag "logo-footer-1.svg", alt:"Logo Footer" %>
      <span class="copyright">2024 - Blog Anne Bortoli. Todos os direitos reservados</span>
    </div>
  </div>
</footer>
